#botao_menu {
  position: fixed;
  z-index: 200;
margin-top:5%;
  top: 0;
  right: 0;
  margin-right: 5%;
  background: rgba(238,43,124, 0.5);
  border-radius: 10px;
}

.hamburger-inner, .hamburger.is-active {
  color: #ffffff;
}

#botao_menu:hover {
opacity: 0.7;
cursor: pointer;
transition: ease-in-out 1s;
}

#botao_menu:focus {
  outline:none;
}


#slide_menu {
height: 100%;
width: 100%;
position: fixed;
z-index: 99;
background: #ee2b7c;
top:0;
overflow-y:scroll;
transition: 1s;
font-family: 'oswald-regular';
color:#ffffff;
margin-left:100%;
}

#pos_content_menu {
  width: 80%;
  margin: 0 auto;
}

#menus_web {
  padding-top: 70px;
  width: 50%;
  display: block;
  font-family: 'oswald-regular';
  font-size: 25px;
}

#menus_web a {
  text-decoration: none;
  color: #ffffff;
}

#menus_web div {
  margin-top: 3%;
}

#menus_web {
  margin-top: 5%;
}

#web2_sub1 {
  font-size: 44px;
  font-family: 'snickels';
  margin: 0 auto;
  width: 100%;
  display: inline-block;
}

#web2_sub1 img {
  width: 100%;
  max-width: 35px;
  margin-top: -8px;
}
