/* Website template by freewebsitetemplates.com */
@media only screen and (max-width : 918px) {

#sub_content {
	font-size:15px;
}
	#position_header {
		width:80%;
		margin: 0 auto;
	}
#pos_header {
	display:none;
}

.after_body a {
	font-size: 15px;
}

.after_body img.icon-fix {
	width:20px;
}

.after_body img {
	width:25px;
}

.mobile-center {
	text-align: center;
	margin-bottom:40px;
}

#cartaz {

	margin-left:10%;
	width: 80%;
}

#content_pos span {
	font-size: 14px;
}

@font-face {
	font-family: 'oswald-regular';
	src: url('../fontes/oswald-regular-webfont.eot');
	src: url('../fontes/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fontes/oswald-regular-webfont.woff') format('woff'),
		url('../fontes/oswald-regular-webfont.ttf') format('truetype'),
		url('../fontes/Oswald-Regular.svg#Oswald') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
		-webkit-text-size-adjust: none;
	}

	#footer {
	margin: 0 auto;
	max-width: 247px;
	overflow: hidden;
	padding: 0px 0 40px;
}
#footer div {
	float: left;
	width: auto;
	padding-right: 40px;
}
	#footer div p {
		font-size: 1.125em;
		line-height: 1.65em;
		padding: 20px 0 0;
		text-align: center;
	}
	#footer div span div#texto {
	font-size:15px;
	padding-top:0px;
	text-align: center;
	padding-top:3px;


}
	#footer div span div#icons {
	float: right;
	padding-right: 0px;
	margin-right: 0px;

}

	#footer div#new img {
		max-width: 32px;
		max-height: 32px;

	}

	#footer div#new {
		float: none;
		margin: 30px auto 0;
		max-width: 300px;
	}



/* SOBRE */



#page_1 #sobre {
	float: left;
	margin-left: 10%;
	width: 80%;
	text-align: center;
}

.header-width {
	width:100%!important;
}

 .header_sobre {
	width: 80%;
	margin: 0 auto;
	font-family: 'snickels';
	font-size: 30px;;
	text-align:left;
	margin-top:40px;
	-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

-o-user-select: none;
user-select: none;
cursor:default;
}

 .header_span {
	font-size:16px;
	font-family: 'oswald-light';
	width: 80%;
	margin: 0 auto;
	text-align:left;
	margin-bottom:5%;
	margin-top:8px;
}

#sobre .conteudo_sobre {
	margin: 0 auto;
	text-align: justify;
	font-family: 'oswald-light';
	font-size:15px;
	width:100%;
}

#sobre .conteudo_sobre p {
	line-height: normal;
}

#page_2 #programa {

	margin-right: 10%;
	width: 80%;
	text-align: center;

}

#design {
text-align:center;
width:100%;
height: auto;
font-size:9px;
padding-top: 4px;
padding-bottom: 4px;
cursor:default;

-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

-o-user-select: none;
user-select: none;
}

}

@media only screen and (max-width : 768px) {
	.poster img {
		position:initial;
		transform:none;
		margin-bottom: 50px;
	}
}
@media only screen and (max-width : 575px) {
	#header h1 {
		font-size: 2.8125em;
	}
	#header h1 a span {
		font-size: 0.5em;
		line-height: 1.25em;
	}
	#body div#tagline h1 {
		font-size: 4.375em;
	}
	#body div#tagline p {
		font-size: 3.125em;
	}
	#footer div p {
		font-size: 1em;
	}

	.film-poster {
		height: auto;
	}


}


@media screen and (max-width : 700px) {

#design {
text-align:center;

width:100%;
height: auto;
font-size:8px;
padding-top: 4px;
padding-bottom: 4px;
cursor:default;

-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

-o-user-select: none;
user-select: none;
}

}
