/* Template by freewebsitetemplates.com */
body {
	color:#ffe6b4 ;
	font-family: 'oswald-regular'!important;
	font-size: 18px;
	margin: 0;
	padding: 0;

	width: 100%;
	height: 1100px;
	/*febe10*/
}

br {
	content: " ";
}

ita {
	text-shadow: 1px 0 0 #292b68;
	 /*display: inline-block;
  -ms-transform: skewX(-10deg) translateY(-1px);
  -o-transform: skewX(-10deg) translateY(-1px);
  transform: skewX(-10deg) translateY(-1px);
  font-size: 100%;
  padding-top: 0.25px;*/
}

@font-face {
	font-family: 'snickels';
	src: url('../fontes/snickels-webfont.eot');
	src: url('../fontes/snickels-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fontes/snickels-webfont.woff') format('woff'),
		url('../fontes/snickels-webfont.ttf') format('truetype'),
		url('../fontes/snickels-webfont.svg#Snickels') format('svg');
}


@font-face {
	font-family: 'oswald-regular';
	src: url('../fontes/oswald-regular-webfont.eot');
	src: url('../fontes/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fontes/oswald-regular-webfont.woff') format('woff'),
		url('../fontes/oswald-regular-webfont.ttf') format('truetype'),
		url('../fontes/Oswald-Regular.svg#Oswald') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'oswald-light';
	src: url('../fontes/oswald-light-webfont.eot');
	src: url('../fontes/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fontes/oswald-light-webfont.woff') format('woff'),
		url('../fontes/oswald-light-webfont.ttf') format('truetype'),
		url('../fontes/Oswald-light.svg#Oswald') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	outline: none;
}
img {
	border: none;
}
p {
	line-height: 30px;
	margin: 0;
}
p a {
	color: #315f52;
}
p a:hover {
	color: #febe10;
}

#main_page_background {
	background:url(../imagens/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	width:100%;
	height:100%;
	z-index:1;
}

#main_page {
	position: relative;
	z-index: 4;
}

#pos_header {
	top: 0;
	width: 100%;
	position: fixed;
	padding-top: 1%;
	z-index: 10;
	height: 90px;
	display:block;
	transition: background-color .5s ease;
}

#header {
	margin: 0 auto;
	max-width: 960px;
	width: 90%;
}
#header h1 {
	font-size: 50px;
	font-weight: normal;
	line-height: 50px;
	margin: 0;
	padding: 30px 0;
	text-align: center;
}
#header h1 a {
	color: #ffe6b4;
	text-decoration: none;
}
#header h1 a span {
	color: #b6d8cf;
	display: block;
	font-family: 'oswald-regular';
	font-size: 26px;
	text-transform: uppercase;
}
#header ul#navigation {
	list-style: none;
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	text-align: center;
}
#header ul#navigation li {
	display: inline;
	line-height: 30px;
	position: relative;

}

.bg_line a:hover {/*
	background: url(../imagens/line.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: bottom center;*/
}

.menu-color {
	background: #ee2b7c;
}

#header ul#navigation li a {
	color: #ffffff;
	font-size: 20px;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul#navigation li a:hover,
#header ul#navigation li.current ul li a:hover {


}
#header ul#navigation li.current a {
	color: #99fa99;
}
#header ul#navigation li ul {
	display: none;
	left: 0;
	list-style: none outside none;
	margin: 0;
	padding: 11px 0 0;
	position: absolute;
	top: 12px;
}
#header ul#navigation li:hover ul {
	display: block;
}
#header ul#navigation li ul li {
	background: #077054;
	display: block;
	height: 46px;
	line-height: 46px;
}
#header ul#navigation li ul li a {
	padding: 0 20px;
}
#header ul#navigation li.current ul li a {
	color: #b6d8cf;
}
#icons {
	float:right;
	width: 220px;
	top:35.5%;
	position:absolute;
	right:7%;

}

#loca {

	padding-rigth:2%;
}

#icons img {
	width:15%;
	float:right;
	padding-right: 6%;


}

.after_body {
	display: inline-block;
	width:80%;
	padding-bottom:5%;
	padding-top:0.5%;
	bottom:0;
	margin-left:10%;
}

.after_body a {
	font-size:25px;
	font-family: 'Oswald-Regular';
	color: white;
	margin-right:15px;
}

.after_body a:hover,
.after_body a:active,
.after_body a:visited,
.after_body a:focus {
	text-decoration: none;
	color:white;
	cursor: pointer;
}

.after_body img {
	width: 35px;
}

.after_body img.icon-fix {
	width: 30px;
	margin-right:10px;
}

.press-kit {
	text-align: center;
}

.home_button a {
	font-family: 'snickels';
	font-size: 50px!important;
}

.home_button img {
	height:50px;
	margin-right: 10px;
}

.home_button img:hover {
	opacity: 0.7;
	transition:ease-in-out 0.5s;
}

.location img{
	height:40px;

}

.body {
	background: url(../imagens/home_content.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto 0;
	max-width: 600px;
	height: 800px;
	min-height: 455px;
	overflow: hidden;
	padding: 0 40px;

margin-bottom:0px;
}
.body > h2 {
	color: #21a51e;
	font-family: 'nixie_oneregular';
	font-size: 35px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 0 0 44px;
}
.body img.figure {
	display: block;
	float: right;
	margin: 74px 38px 46px 0;
	max-width: 100%;
	width: auto;
}
.body div#tagline {
	float: left;
	margin: 110px 0 0 25px;
	max-width: 510px;
}
.body div#tagline h1 {
	/*background: url(../images/bg-separator.png) no-repeat center bottom;*/
	color: #21a51e;
	font-family: 'nixie_oneregular';
	font-size: 100px;
	font-weight: normal;
	line-height: 100px;
	margin: 0;
	padding: 0 0 55px;
	text-align: center;
	text-transform: uppercase;
}
.body div#tagline p {
	color: #21a51e;
	font-family: 'nixie_oneregular';
	font-size: 100px;
	line-height: 100px;
	padding: 43px 0 0;
	text-align: center;
}
.body div.content {
	overflow: hidden;
}
.body div.content > div {
	float: left;
	width: 510px;
}
.body div.content h3,
.body form h3,
.body ul.blog li h3 {
	font-family: 'nixie_oneregular';
	font-size: 23px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 25px 0 0;
}
.body div.content h3:first-child,
.body div.content div div.section:first-child {
	padding: 0;
}
.body div.content img.figure {
	margin: 0 38px 46px 0;
}
.body div.content div div.section {
	padding: 55px 0 0;
	width: 430px;
}
.body div.content div div.section span {
	display: block;
	line-height: 30px;
}
.body div.content div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 65px;
}
.body div.content div ul li {
	float: left;
	margin: 0 0 0 83px;
	width: 207px;
}
.body div.content div ul li:first-child {
	margin: 0;
}
.body div.content div ul li img {
	display: block;
	max-width: 100%;
	width: auto;
}
.body div.content div ul li h4 {
	font-family: 'nixie_oneregular';
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 12px 0 0;
	text-align: center;
}
.body form {
	margin: 25px auto 0;
	overflow: hidden;
	width: 460px;
}
.body form label {
	display: block;
	padding: 15px 0 0;
}
.body form label span {
	display: block;
	line-height: 27px;
	padding: 0 0 5px
}
.body form label input {
	background: #d1d3d4;
	border: 1px solid #b6d8cf;
	color: #315f52;
	display: block;
	font-family: 'latoregular';
	font-size: 14px;
	height: 46px;
	line-height: 46px;
	padding: 0 5px;
	width: 448px;
}
.body form label textarea {
	background: #d1d3d4;
	border: 1px solid #b6d8cf;
	color: #315f52;
	display: block;
	font-family: 'latoregular';
	font-size: 14px;
	height: 250px;
	line-height: 30px;
	overflow: auto;
	padding: 0 5px;
	resize: none;
	width: 448px;
}
.body form input#send {
	background: #077054;
	border: none;
	border-radius: 5px;
	color: #99fa99;
	cursor: pointer;
	font-family: 'latoregular';
	font-size: 14px;
	float: right;
	height: 30px;
	margin: 8px 0 0;
	width: 50px;
}
.body form input#send:hover {
	background: #d3a3ff;
	color: #000000;
}
.body ul.blog {
	list-style: none;
	margin: 0;
	padding: 0;
}
.body ul.blog li {
	overflow: hidden;
	padding: 104px 100px 0 0;
}
.body ul.blog li:first-child {
	padding: 0 100px 0 0;
}
.body ul.blog li img {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	max-width: 100%;
	width: auto;
}
.body ul.blog li h3 {
	line-height: 20px;
	padding: 0 0 8px;
}
.body ul.blog li h3 a,
.body div.content div.sidebar ul li h4 a {
	color: #315f52;
	text-decoration: none;
}
.body ul.blog li h3 a:hover,
.body div.content div.sidebar ul li h4 a:hover {
	text-decoration: underline;
}
.body ul.blog li span,
.body div.content div.article span,
.body div.content div.sidebar ul li span {
	display: block;
	line-height: 30px;
}
.body div.content div.article {
	width: 570px;
}
.body div.content div.article img {
	display: block;
	margin: 0 0 9px;
	max-width: 100%;
	width: auto;
}
.body div.content div.article p {
	padding: 0 0 30px;
}
.body div.content div.sidebar {
	float: left;
	margin: 0 0 0 50px;
	width: 259px;
}
.body div.content div.sidebar ul {
	padding: 20px 0 0;
}
.body div.content div.sidebar ul li {
	border-top: 1px solid #88b4a8;
	float: none;
	margin: 0;
	padding: 18px 0 28px;
	width: auto;
}
.body div.content div.sidebar ul li:first-child {
	border: none;
	padding: 0 0 28px;
}
.body div.content div.sidebar ul li h4 {
	line-height: 30px;
	text-align: left;
}

#wrapper {
	position:relative;
	z-index:2;
}

/* SOBRE */
#page_1 {
	display: inline-block;
	width: 100%;
	background: url('../imagens/content_background.jpg');
	background-size: 100%;
	background-repeat: repeat;
}



#page_1 #sobre {
	width:100%;
	display: inline-block;
	top:0;
	padding-top:6%;
	padding-bottom: 6%;
	float:right;

}


 .header_span {
	font-size:2vw;
	font-family: 'oswald-light';
	color: 	#262262;
	width: 70%;
	margin: 0 auto;
	text-align:left;
	margin-bottom:0;

}
.header_sobre {
	color: 	#262262;
	width: 70%;
	margin: 0 auto;
	font-family: 'snickels';
	font-size: 3.5vw;
	text-align: left;
	line-height: 2vw;
	/*margin-top:70px;*/
	-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

-o-user-select: none;
user-select: none;
cursor:default;
}

#sobre .conteudo_sobre {
	font-size:18px;
	color: #262262;
	width: 70%;
	margin: 0 auto;
	text-align: justify;
	font-family: 'oswald-light';
	padding-top: 30px;
	/*margin-top: 100px;
	margin-bottom: 100px;*/
}

/* FIM SOBRE  */


/* PROGRAMA */

#page_2 {
	margin-top: -6px;
	display: block;
	width: 100%;
	background: #262262;
	display: inline-block;
	padding:6% 0;
}


#page_2 #programa {

	width:100%;
	display: inline-block;
	padding-top:5%;
}



#programa .conteudo_programa {
	font-size:18px;
	color: white;
	width: 70%;
	margin: 0 auto;
	text-align: left;
	font-family: 'oswald-light';


}

#programa .conteudo_programa span {
	font-family:'oswald-regular';
	font-weight:bold;
	letter-spacing: 1px;
}

#programa .conteudo_programa p {
	margin-bottom:10%;
}

.white-text {
	color: #ffffff!important;
}

.poster {
	position:relative;
	width:100%;
	height:100%;
	text-align: center;
	align-content: center;
}

.poster img {
	position:absolute;
	top:50%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	max-width: 550px;
	width: 90%;
}

#programa p {
	margin-top: -10px;
}

.dates, .author {
	font-size: 16px;
}

.author{
		margin-bottom:5px;
}

.dates {
	font-weight: bold;
	color: #ffde17;
}

/* FIM PROGRAMA */

/* FILMES */

#filmes {
	background: url('../imagens/content_background.jpg');
	background-size: 100%;
	background-repeat: repeat;
	margin-top: -0.8%;
	position: relative;
	padding-top:6%;
	padding-bottom: 6%;

}

#filmes #conteudo_filmes {
	width: 90%;
	height: auto;
	margin: 0 auto 0;
	display:block;
}

.margin-movies {
	margin-top: 30px;
}

.film-poster {
	width:100%;
	max-width: 400px;
	height:88%;
	max-height: 558px;
}

.more-info {
	margin-top:10px;
}

.more-info img {
	width:100%;
	min-width: 30px;
	max-width: 40px;
}

.span-pad {
	font-weight: bold;
	font-size:16px;
	position:absolute;
}

#positioning {
 display:inline-block;
 width: 100%;
 margin-top:1%;

}

.margin_adjust {
	margin-left: 4%;
}

#titles_movies {
	width:75%;
	display:inline-block;
	color: #FFFFFF;
	font-family: 'oswald-regular';
	font-size: 1.5vw;
	margin-left:3%;
	vertical-align: top;
	padding-top:2%
}

#plus_info {
	width:15%;
	padding-top:15%;
	background: url(../imagens/plus.png);
	background-size:100%;
	background-repeat:no-repeat;
	display: inline-block;

}

#plus_info:hover {
	cursor: pointer;
	opacity: 0.5;
	transition: ease-in-out 0.5s;
}

#position_filmes {

	width:30%;
	display:inline-block;
}

/* FIM FILMES */


/* GALERIA */
#galeria {
	background: #FFFFFF;
	padding-top: 5%;
	padding-bottom:5%;
}

#conteudo_galeria {
	width: 70%;
	margin: 0 auto;

}

#thumb {
	width:32%;
	padding-top: 24%;
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
}

.t_1 {
	background:url(../imagens/galeria/thumb1.JPG);
}
.t_2 {
	background:url(../imagens/galeria/thumb2.JPG);
	margin-left: 1%;
}
.t_3 {
	background:url(../imagens/galeria/thumb3.JPG);
	margin-left: 1%;
}

.t_3:hover {
	opacity: 0.7;
	cursor: pointer;
	transition:ease-in-out 1s;
}
/*FIM */
/* APOIOS */
#apoios {
	background: #262262;
}


#apoios #conteudo_apoios {

	margin: 0 auto 0;
	max-width: 900px;
	min-height: 0;
	overflow: hidden;
	padding: 80px 0;

}

#apoios #conteudo_apoios img {
	width:100%;
}

/* FIM APOIOS */

/* SCROLL TOP */

#scroll_top {
	display: block;
	position: fixed;
	z-index: 2;
	right: 1%;
	bottom: 1%;
	opacity: 0.7;
	display: none;
}
#scroll_top img {
	width: 15%;
	height: 15%;
	float: right;

}

/*FIM SCROLL ROP */


#design {
text-align:center;
color: #ffffff;
background-color: #262262;
width:100%;
height: auto;
font-size:10px;
padding-top: 4px;
padding-bottom: 4px;
cursor:default;

-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

-o-user-select: none;
user-select: none;
}

/* FIM separadores paginas */

#sub_content_galeria {
	width: 100%;
	height: 0%;
	position: fixed;
	top:0;
	background:rgba(0,0,0, 0.90);
	overflow-y:scroll;
    transition: 1s;
	font-family: 'oswald-regular';
	font-size: 1.2vw;
	color:#white;
	z-index:3;
	text-align: center;

}

#close_content_galeria:hover {
	opacity: 1;
	cursor: pointer;
	transition: ease-in-out 0.4s;
}

#content_galeria {
	margin: 0 auto;
	width: 85%;
	margin-bottom:5%;
}

#close_content_galeria {
	background:url(../imagens/close_button_galeria.png)	;
	width: 15px;
	background-size:15px;
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 15px;
	margin-top: 2%;
	margin-bottom: 1%;
	opacity: 0.7;
	margin-left:95%;
	margin-bottom: 5%;
}


#sub_content {
	width: 100%;
	height: 0%;
	position: fixed;
	top:0;
	background: url('../imagens/background.jpg');
	overflow-y:scroll;
    transition: 1s;
	font-family: 'oswald-regular';
	font-size:1.2vw;
	color:#262262;
	z-index: 300;

}

#content_pos{
	width: 80%;
	margin:0 auto;
	padding:40px;
	background: url('../imagens/content_background.jpg');
	margin-bottom: 40px;
}

#close_content {
	background:url(../imagens/close_button_galeria.png)	;
	width: 80%;
	background-size:25px;;
	background-repeat: no-repeat;
	background-position: right;
	padding-top: 50px;
	margin-top: 2%;
	margin-bottom: 1%;
	margin: 0 auto;
}

#close_content:hover {
	cursor:pointer;
	opacity: 0.6;
	transition:ease-in-out 0.5s;
}

#content_pos span {
	font-family: 'oswald-light';
	font-size: 1.3vw;
}


.cursor-pointer:hover {
	cursor:pointer;
}
